@model IEnumerable<Person>

@{
    ViewData["Title"] = "People";
}

<h2>People</h2>
<p>@Html.ActionLink("New person", "Create", "People")</p>

<table border="1">
    <tr>
        <th>Document</th>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var person in Model)
    {
        <tr>
            <td>
                @person.Id
            </td>
            <td>@person.Firstname</td>
            <td>@person.Lastname</td>
            <td>@Html.ActionLink("Details", "Details", "People", new { id = person.Id })</td>
            <td>@Html.ActionLink("Edit", "Edit", "People", new { id = person.Id, person = person })</td>
            <td>@Html.ActionLink("Delete", "Delete", "People", new { id = person.Id })</td>

        </tr>
    }
</table>